#your-fortune {
  display: none;
}

body {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  color: #BBEFFC;
  font-size: 20px;
}

h1 {
  font-family: fantasy;
  font-weight: bold;
  font-size: 45px;
}

.text-effect {
  font-family: fantasy;
  font-size: 35px;
  font-weight: bold;
}

#fortune-globe {
  width: 300px;
  margin-left: 50%;
  margin-right: 50%;
}
